- link:
   ~/.config/dotfiles/git/config:
     path: tools/git/gitconfig
     relink: true
     create: true
- link:
   ~/.config/dotfiles/git/gitignore_global:
     path: tools/git/gitignore_global
     relink: true
     create: true
- link:
   ~/.local/bin/:
     path: tools/git/bin/*
     glob: true
     relink: true
- shell:
  - [git config --global include.path '~/.config/dotfiles/git/config', Setting up git config!]
- link:
   ~/.config/dotfiles/git/completion.bash:
     path: tools/git/git-completion.bash
     relink: true
     create: true

