[submodule "bootstrap/meta/dotbot"]
	path = bootstrap/meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "bootstrap/tmux/tpm"]
	path = bootstrap/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
	ignore = dirty
[submodule "bootstrap/vim/config"]
	path = bootstrap/vim/config
  url = https://github.com/mstr3336/.spacevim.git
  ignore = dirty
[submodule "bootstrap/tmux/config"]
	path = bootstrap/tmux/config
	url = https://github.com/mstr3336/.tmux.git
	ignore = dirty
[submodule "bootstrap/tools/git/diff-so-fancy"]
	path = bootstrap/tools/git/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
	ignore = dirty
[submodule "dotbot"]
	ignore = dirty
[submodule "bootstrap/envs/hpc/visidata_hpc"]
	path = bootstrap/envs/hpc/visidata_hpc
	url = https://github.com/mstr3336/visidata_hpc
[submodule "bootstrap/tools/z/z"]
	path = bootstrap/tools/z/z.sh
	url = https://github.com/rupa/z.git
[submodule "bootstrap/tools/z/z.lua/z.lua"]
	path = bootstrap/tools/z/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule "bootstrap/tools/googler"]
	path = bootstrap/tools/googler/googler
	url = https://github.com/jarun/googler.git
